<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .message.good { color: green;}
      .message.bad { color: red;}
      #lunch-menu.good {border: 1px solid green;}
      #lunch-menu.bad {border: 1px solid red;}
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController as vm">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="vm.lunch" ng-change="vm.clearMessage()" ng-class="{'good': vm.good_flag == true, 'bad': vm.good_flag == false}">
         </div>
         <span>NOT considering an empty item, i.e., , , as an item towards to the count</span>
         <div class="form-group">
             <button class="btn btn-default" ng-click="vm.checkLunch()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-show="vm.message" ng-class="vm.good_flag ? 'good' : 'bad'">
            {{vm.message}}
         </div>
   </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.12/angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>
